.div_principal { /*Classe que engloba os links de Agendamento e Verificação*/
  display: grid;
  grid-template-columns: repeat(2, auto);
  /*Disposição do layout em colunas*/
  gap: 10px;
  /*Gap entre as colunas*/
  justify-content: center;
  /*Centraliza os componentes da classe*/
  flex-direction: column;
  /*Formatação em colunas*/
  align-items: center;
  /*Alinhamento dos componentes no centro da página*/
  flex-direction: column;
  /*Disposição do layout em colunas*/
  height: 60vh;
  /*Altura da página*/
  background-size: cover;
  /*Imagem de fundo cobrindo toda a página*/
  background-repeat: no-repeat;
  /*Imagem única sem repetir*/
  width: 100%;
  /*Ocupar 100% da altura estipulada*/
}

.titulo { /*Configuração do layout do título*/
  color: #ffde59;
  /*Cor das letras*/
  -webkit-text-stroke: 2px black;
  /*Borda no título*/
  text-shadow: 4px -4px;
  /*Sombra para impressão 3d*/
  font-family: 'Ruslan Display', cursive;
  /*Alteração na fonte*/
  font-size: 80px;
  /*Tamanho da letra*/
  text-align: center;
  /*Alinhamento do texto no centro da página*/
}

.div_cabecalho { /*Classe que armazena o título*/
  display: flex;
  /*Permite que o texto se redimensione de acordo com tamanho da página e se agrupa em blocos*/
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  /*Espaço "pra dentro" em relação ao topo da página*/
  height: 10vh;
}

.link_agendamento,
.link_verificacao { /*Layout dos botões de agendamento e verificação de horário*/
  display: inline-block;
  /*Tranforma os links em "botões"*/
  font-size: 20px;
  padding: 15px;
  background-color: #ffde59;
  /*Cor de preenchimento dos botões*/
  color: black;
  /*Cor da letra*/
  text-decoration: none;
  /*Remoção do aspecto de link (sublinhado)*/
  border: 1px solid #f8d23c;
  /*Adiciona uma borda*/
  border-radius: 4px;
  /*Bordas arredondadas*/
  cursor: pointer;
  /*Cursor como mãozinha*/
  transition: background-color 0.3s ease;
  /*Transição de cor de preenchimento do botão*/
  font-family: 'Ruslan Display', cursive;
}

.link_agendamento:hover,
.link_verificacao:hover { /*Animação para destacar a opção dos botões*/
  background-color: #f8d23c;
  font-size: 24px;
  color: black;
}

body { /*Configurações gerais que vão englobar todas as classes*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: center;
  font-size: 16px;
  letter-spacing: 1px;
  background-image: url('./Img/backgroung.jpg');
}