.div_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Isso centraliza verticalmente na altura da tela */
  }

  .div_cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: 10vh; /* Isso centraliza verticalmente na altura da tela */
  }

  .center {
    text-align: center; /* Centraliza horizontalmente dentro do elemento .center */
  }
  
 .link_agendamento{
    background-color: bisque;
  color: red;
}

.link_verificacao{
    background-color: bisque;
  color: blue;
}
 