.div_principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column; /* Define a disposição em coluna*/
  height: 60vh;
  /* Isso centraliza verticalmente na altura da tela */

  

}

.div_cabecalho { /*Layout do nome da página */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  height: 10vh;
  /* Isso centraliza verticalmente na altura da tela */
}

.center {  /* Centraliza horizontalmente dentro do elemento .center */
  text-align: center;
 
}

.link_agendamento { /*Configuração do Botão de Agendar Horário*/
  display: inline-block;
  padding: 10px 20px;
  /* Define o preenchimento para ajustar o tamanho do botão */
  background-color: bisque;
  /* Cor de fundo do botão */
  color: black;
  /* Cor do texto */
  text-decoration: none;
  /* Remove sublinhado de link padrão */
  border: 1px solid #fdc887;
  /* Adiciona uma borda */
  border-radius: 4px;
  /* Adiciona bordas arredondadas */
  cursor: pointer;
  /* Transforma o cursor em uma mãozinha ao passar o mouse */
  transition: background-color 0.3s ease;
  /* Adiciona uma transição suave na cor de fundo */
}

.link_verificacao { /*Configuração do Botão de Verificar Agenda*/
  display: inline-block;
  padding: 10px 20px;
  /* Define o preenchimento para ajustar o tamanho do botão */
  background-color: bisque;
  /* Cor de fundo do botão */
  color: black;
  /* Cor do texto */
  text-decoration: none;
  /* Remove sublinhado de link padrão */
  border: 1px solid #fdc887;
  /* Adiciona uma borda */
  border-radius: 4px;
  /* Adiciona bordas arredondadas */
  cursor: pointer;
  /* Transforma o cursor em uma mãozinha ao passar o mouse */
  transition: background-color 0.3s ease;
  /* Adiciona uma transição suave na cor de fundo */
}


.link_agendamento:hover { /*Mudança de cor no botão de Agendar Horário ao passar o mouse*/
  background-color: #fdc887;
  /* Cor de fundo ao passar o mouse */
  color: white;
}

.link_verificacao:hover { /*Mudança de cor no botão de Verificar Agenda ao passar o mouse*/
  background-color: #fdc887;
  /* Cor de fundo ao passar o mouse */
  color: white;
}

.telefone { /*Caixa para que o usuário escreva seu telefone*/
  /* Estilos para a caixa de texto do telefone */
  margin-bottom: 10px; /* Adiciona espaço entre os elementos */
}

.dia_semana { /*Opção de dias da semana para usuário escolher*/
  font-size: 22px; /* Tamanho do texto */
  width: 200px; /* Largura da caixa de seleção */
  display: inline-block;
  padding: 10px 20px;
  /* Define o preenchimento para ajustar o tamanho do botão */
  background-color: bisque;
  /* Cor de fundo do botão */
  color: black;
  /* Cor do texto */
  text-decoration: none;
  /* Remove sublinhado de link padrão */
  border: 1px solid #fdc887;
  /* Adiciona uma borda */
  border-radius: 4px;
  /* Adiciona bordas arredondadas */
  cursor: pointer;
  /* Transforma o cursor em uma mãozinha ao passar o mouse */
  transition: background-color 0.3s ease;
  /* Adiciona uma transição suave na cor de fundo */
}

.dia_semana:hover { /*Mudança de cor no botão de Dia da Semana ao passar o mouse*/
  background-color: #fdc887;
  /* Cor de fundo ao passar o mouse */
  color: white;
}

.botoes {
  display: none;
}